trigger:
 branches:
     include:
       - main

pool: Default

jobs:
 - job: SAST
   displayName: Static Analysis(SonarQube)
   steps:
    - script: |
        sonar-scanner \
          -Dsonar.host.url=http://localhost:9000 \
          -Dsonar.token=sqp_3b22952c6ed3a49aab1914d3343aa63dcaa85644 \
          -Dsonar.projectKey=To-do-Pipeline \
          -Dsonar.sources=src
      displayName: 'SonarQube Analysis'

 - job: Build
   dependsOn: SAST
   displayName: Build
   steps:
   - task: NodeTool@0
     displayName: Node Toll Installer
     inputs:
       versionSource: 'spec'
       versionSpec: '16.x'

   - task: CmdLine@2
     displayName: Npm Install
     inputs:
       script: 'npm install'

   - task: CmdLine@2
     displayName: Npm Build
     inputs:
       script: 'npm run build'

   - task: PublishPipelineArtifact@1
     displayName: Publish Artifacts
     inputs:
       targetPath: $(System.DefaultWorkingDirectory)/build/'
       artifact: 'todo-Artifacts'
       publishLocation: 'pipeline'