trigger:
  branches:
    include:
      - main
      - master

pool:
  vmImage: 'ubuntu-latest'

variables:
  SONAR_ORGANIZATION: 'git-princenagar'
  SONAR_PROJECT_KEY: 'Git-PrinceNagar_To-Do-UI-Monolith'

steps:
# Prepare SonarCloud Analysis
- task: SonarCloudPrepare@4
  inputs:
    SonarCloud: 'SonarCloud-Connection'
    organization: '$(SONAR_ORGANIZATION)'
    scannerMode: 'CLI'
    configMode: 'manual'
    cliProjectKey: '$(SONAR_PROJECT_KEY)'
    cliProjectName: 'To-Do-UI-Monolith'
    cliSources: 'src'

# Install Node.js
- task: NodeTool@0
  inputs:
    versionSpec: '18.x'
  displayName: 'Install Node.js'

# Install dependencies
- script: npm ci
  displayName: 'Install dependencies'

# Run tests with coverage
# - script: npm test -- --coverage --watchAll=false
#   displayName: 'Run tests with coverage'

# Run SonarCloud Analysis
- task: SonarCloudAnalyze@4
  displayName: 'Run SonarCloud Analysis'

# Publish Quality Gate Result
- task: SonarCloudPublish@4
  inputs:
    pollingTimeoutSec: '300'
  displayName: 'Publish Quality Gate Result'

