trigger:
  branches:
    include:
      - feature*
      - main

pool: Default

stages:
  - stage: Terraform
    displayName: Terraform (Init & Plan)
    jobs:
      - job: terraformInitPlan
        displayName: Terraform Init & Plan
        steps:
          - task: TerraformInstaller@1
            inputs:
              terraformVersion: 'latest'

          - task: TerraformTask@5
            displayName: Terraform Init
            inputs:
              provider: 'azurerm'
              command: 'init'
              workingDirectory: '$(System.DefaultWorkingDirectory)/Environment/Dev'
              backendServiceArm: 'Prince(e2e106a3-4a7b-4443-b147-e1da8d501783)'
              backendAzureRmResourceGroupName: 'rg-101-backend-app'
              backendAzureRmStorageAccountName: 'stgbackendname'
              backendAzureRmContainerName: 'tfstate'
              backendAzureRmKey: 'terraform.tfstate'

          - task: TerraformTask@5
            displayName: Terraform Plan
            inputs:
              provider: 'azurerm'
              command: 'plan'
              workingDirectory: '$(System.DefaultWorkingDirectory)/Environment/Dev'
              environmentServiceNameAzureRM: 'Prince(e2e106a3-4a7b-4443-b147-e1da8d501783)'

  - stage: Scanning
    displayName: Scanning (tflint & tfsec)
    dependsOn: Terraform
    jobs:
      - job: tflintScanning
        displayName: tflint scanning
        steps:
          - task: CmdLine@2
            inputs:
              script: 'echo Running tflint'

      - job: tfsecScanning
        displayName: tfsec scanning
        steps:
          - task: tfsec@1
            inputs:
              version: 'v1.26.0'

  - stage: Deploy
    displayName: Deploy (Terraform Apply)
    dependsOn: Scanning
    jobs:
      - job: terraformApply
        displayName: Terraform Apply
        steps:
          - task: TerraformInstaller@1
            inputs:
              terraformVersion: 'latest'

          - task: TerraformTask@5
            displayName: Terraform Init
            inputs:
              provider: 'azurerm'
              command: 'init'
              workingDirectory: '$(System.DefaultWorkingDirectory)/Environment/Dev'
              backendServiceArm: 'Prince(e2e106a3-4a7b-4443-b147-e1da8d501783)'
              backendAzureRmResourceGroupName: 'rg-101-backend-app'
              backendAzureRmStorageAccountName: 'stgbackendname'
              backendAzureRmContainerName: 'tfstate'
              backendAzureRmKey: 'terraform.tfstate'

          - task: TerraformTask@5
            displayName: Terraform Apply
            inputs:
              provider: 'azurerm'
              command: 'apply'
              workingDirectory: '$(System.DefaultWorkingDirectory)/Environment/Dev'
              environmentServiceNameAzureRM: 'Prince(e2e106a3-4a7b-4443-b147-e1da8d501783)'

  - stage: Build
    displayName: Build & SAST (SonarQube)
    dependsOn: Deploy
    jobs:
      - job: BuildAndSAST
        displayName: Build and Static Analysis
        steps:
          - task: NodeTool@0
            displayName: Node Tool Installer
            inputs:
              versionSpec: '16.x'

          - task: CmdLine@2
            inputs:
              script: 'npm install -g @sonar/scan'
          - task: CmdLine@2
            inputs:
              script: |
                sonar \
                  -Dsonar.host.url=http://localhost:9000 \
                  -Dsonar.token=sqp_feeb34c5cb603ac434145cc2861c9edffab6bbd7 \
                  -Dsonar.projectKey=Todo-App \
                  -Dsonar.sources=src
            
          - task: CmdLine@2
            displayName: npm install
            inputs:
              script: 'npm install'

          - task: CmdLine@2
            displayName: npm build
            inputs:
              script: 'npm run build'

          - task: PublishPipelineArtifact@1
            displayName: Publish Artifacts
            condition: succeededOrFailed()
            inputs:
              targetPath: '$(System.DefaultWorkingDirectory)/build'
              artifact: 'todo-Artifacts'
              publishLocation: 'pipeline'


            
